//Colors
$black:#312522;
$actual-white:#FFFFFF;
$white:#F5F6FA;//actually their grey color but this was changed later on after this was used globally
$grey-light:#F2F2F2;
$grey:#655A58;
$grey-cool:#748491;
$orange:#FF4B1D;
$browser-grey: #DFEAF4;
$brown: #837266;
$light-brown: #E2E4DF;
$dark-brown: #311A11;
$nav-brown: #53433F; 
//Fonts
$font-primary: Anek Latin,
sans-serif;
$font-secondary: BentonSans,
sans-serif;
$font-tertiary: Voltage,
cursive;
$font-literata: Literata, 
sans-serif;

//Positioning

//Animation
$transition: .25s all ease;