.animated-banner {
    padding: 250px 0 135px; //250 was 190
    z-index: 10;

    @include break(lg) {
        padding: 58px 0;
    }

    h1 {
        @extend h3;

        .h3 {
            color: $orange;
            font-size: 1.772rem;
            line-height: 42px;

            @include break(md) {
                font-size: 1.25rem;
            }
        }
    }

    h2 {
        font-size: 5vw;
        line-height: 4.7vw;
        letter-spacing: 0;
        font-weight: 800;

        @include break(md) {
            font-size: 9vw;
            line-height: 10vw;

            &.home-hero {
                font-size: 18vw;
                line-height: .9em;
            }

        }
    }
    h3 {
        position: absolute;
        margin-top: -2.5rem;
    }
    p {
        font-size: 1.4545rem;
        line-height: 40px;
        margin-top: 40px;
        width: 85%;

        @include break(lg) {
            font-size: 1.1rem;
            line-height: 1.27;
            width: 100%;
        }
    }

    strong {
        font-family: $font-literata;
        line-height: 0;
        // font-style: italic;
        font-weight: 600;
    }
    .word-swap-home {
        transition: text 1s;
    }
    .btn--asterisk {
        margin: 5rem 0 0;

        @include break(lg) {
            display: none;
        }
    }
}
.page-id-6 {
    .animated-banner {
        height: 85vh;

        @include break(lg) {
            height: 82vh;
        }

        @include break(sm) {
            height: 75vh;
            padding-top: 100px;
        }
    }
}

.page-id-19 {
    .animated-banner {
        @include break(sm) {
            padding-top: 100px;
        }
        br {
            @include break(sm) {
               display: none;;
            }
        }
    }
}