.captioned-banner {
    //padding: 100px 0;

    &.padding-top-none {
        padding: 0 0 50px;
    }
    &.padding-bottom-none {
        padding: 100px 0 0;
    }
    &.padding-tb-none {
        padding: 0;
    }

    h3 {
        margin: 0 0 20px;
        color: $orange;

        @include break(lg) {
            font-size: 1.27rem;
        }
    }
    p {
        line-height: 1.27rem;
    }

    img {
        width: 100%;
        margin: 1em 0;

        @include break(lg) {
            margin: 1em 0;
        }
    }
    &__videos {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-bottom: 0;
        video {
            width: 100%;
        }

    }

    .skinny-container {
        width: 75%;
        padding-right: .75em;
        padding-left: .75em;
        margin: 0 auto;

        .captioned-banner__videos {
            margin-top: 0 !important;
        }
    }

    .middle {
        flex-direction: column;
        display: flex;
        align-self: center;
    }

    .bottom {
        flex-direction: column;
        display: flex;
        align-self: end;

        p:last-child {
            margin-bottom: 0;
        }
    }

    @include break(md) {
        &__videos {
            margin-top: 50px;
            margin-bottom: 30px;
            flex-direction: column;
            video {
                width: 100%;
            }
        }
    }
}