.horizontal-scroll-grid {
    padding: 0;
    overflow: hidden;

    .panel-container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        img {
            max-width: none;

            @include break(sm) {
                max-height: 200px;
            }
        }

    }
    padding: 120px 0;

    @include break(lg) {
        padding: 2em 0;
    }

    &.desktop {
        display: block;

    }
    &__row-1, &__row-2 {
        display: flex;
        gap: 24px;
        padding-left: 100px;

        @include break(sm) {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}