.related-posts {
  padding: 5em 0;

  @include break(sm) {
    padding: 2em 0;
  }

  h2 {
    border-top: 6px solid $black;
    display: inline-block;
    font-size: 0.909rem;
    margin: 0 0 30px;
    padding: 7px 0 0;
    text-transform: uppercase;
  }

  &__grid {
    display: grid;
    gap: 1em;
    margin: 40px 0 0;
    grid-template-columns: repeat(3, 1fr);

    @include break(sm) {
      gap: 10px;
      margin: 0;
    }

    a {
      height: auto;
        width: 100%;
        aspect-ratio: 1;


      .hero__banner {
        height: 100%;
        min-height: auto;
        aspect-ratio: 1/1;
        margin: 0;

        @include break(lg) {
          margin-top: 0;
        }
      }
    }
  }

  &__figure {
    display: block;
    flex-basis: 100%;
    height: 400px;
    overflow: hidden;

    img {
      @include imgObjectFit;
      transition: $transition;
    }

    &:hover img {
      filter: grayscale(100%);
      transform: scale(1.1);
    }
  }

  &__post {
    flex-basis: 100%;
    background-color: $white;
    padding: 60px 34px 34px;
    img {
      @include imgObjectFit;
      transition: $transition;
    }

    h3 {
      color: $black;
      margin-bottom: 20px;
    }
    .btn--asterisk {
        margin-bottom: 0;
        margin-left: auto;
        aspect-ratio: auto;
    }
    &:hover img {
      filter: grayscale(100%);
      transform: scale(1.1);
    }
  }
}