.simple-banner {
    margin: 0;

    figure {
        margin: 0;
    }
    figcaption {
        margin-top: 1em;
    }

    &__img {
        height: auto;
        width: 100%;
    }
    &.container {
        margin: 0 auto;
    }
}