.btn {
    border-radius: 0;
    border-width: 0;
    display: inline-block;
    font-size: 0.909rem;
    font-weight: 800;
    margin: 1rem 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;

    a {
        color: $black;
        text-decoration: none;
    }

    &--swipe {
        align-items: center;
        display: flex;
        gap: 5px;
        position: relative;

        i {
            font-size: 12px;
        }

        &:before {
            background: $black;
            content: '';
            height: 6px;
            left: 0;
            position: absolute;
            top: -10px;
            transition: $transition;
            width: 0%;
        }

        &:hover {
            &:before {
                width: 100%;
            }
        }
    }

    &--asterisk {
        align-items: center;
        display: flex;
        gap: 7px;
        transition: $transition;
        font-size: .8rem;

        &:before {
            background-image: url('../img/asterisk-sm-orange.svg');
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            display: inline-block;
            height: 32px;
            transition: $transition;
            width: 32px;
            color: $black;
        }

        &:hover {
            gap: 10px;

            &:before {
                transform: rotate(180deg);
            }
        }
    }

    &--fancy {
        font-family: $font-tertiary;
        font-size: 2.272rem;
        position: relative;
        text-decoration: none;
        text-transform: lowercase;

        &:before {
            background: $white;
            content: '';
            height: 6px;
            left: 0;
            position: absolute;
            bottom: -10px;
            transition: $transition;
            width: 0%;
        }

        &:hover {
            &:before {
                width: 100%;
            }
        }
    }

    &--swap {
        background: $grey;
        color: $white;
        font-weight: 800;
        height: 72px;
        overflow: hidden;
        text-decoration: none;

        span {
            align-items: center;
            display: flex;
            font-size: 1.272rem;
            height: 72px;
            justify-content: center;
            position: relative;
            width: 100%;

            >div {
                position: relative;
                top: 72px;
                transition: all ease .35s;
            }

            &:nth-of-type(2) {
                background: $black;
                top: 0;
                transition: all ease .15s;
            }
        }

        &:hover {
            color: $white;

            span {
                top: -72px;
            }

            span>div {
                top: 0;
            }
        }
    }
}