@font-face {
    font-display: swap;
    font-family: Anek Latin;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/AnekLatin-Light.woff2');
}

@font-face {
    font-display: swap;
    font-family: Anek Latin;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/AnekLatin-Regular.woff2');
}

@font-face {
    font-display: swap;
    font-family: Anek Latin;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/AnekLatin-Medium.woff2');
}

@font-face {
    font-display: swap;
    font-family: Anek Latin;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/AnekLatin-SemiBold.woff2');
}

@font-face {
    font-display: swap;
    font-family: Anek Latin;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/AnekLatin-Bold.woff2');
}

@font-face {
    font-display: swap;
    font-family: Anek Latin;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/AnekLatin-ExtraBold.woff2');
}

@font-face {
    font-display: swap;
    font-family: Voltage;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Voltage-Regular.woff2');
}

@font-face {
    font-display: swap;
    font-family: Literata;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/literata-regular.woff2');
}

@font-face {
    font-display: swap;
    font-family: Literata;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/literata-italic.woff2');
}

@font-face {
    font-display: swap;
    font-family: Literata;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/literata-bolditalic.woff2');
}