 .global-main {
     padding-top: 85px;

     >* {
         background: #fff;
         position: relative;
     }
     &--grey {
        background: $white;
        >* {
            background: $white;
            position: relative;
        }
     }
 }
 .bg-color {
    &__white {
        background-color: $actual-white;
    }
    &__grey {
        background-color: $white;
    }
    &__dbrown {
        background-color: $dark-brown;
    }
 }
 .section-p {
    padding: 5em 0;
    @include break(sm) {
        padding: 3em 0;
    }
 }
 .section-pt {
    padding: 5em 0 1em;
    @include break(sm) {
        padding: 3em 0 1em;
    }
 }
 .section-pb {
    padding: 1em 0 5em;
    @include break(sm) {
        padding: 1em 0 3em;
    }   
 }
 .section-md {
    padding: 3em 0;
 }
 .section-pt__gutter {
    padding-top: 1em;
 }
 .section-pb__gutter {
    padding-bottom: 1em;
 }

 .single-career {
    .single-career-title {
        margin-top: 135px;
    }
 }
 .section-pt-1 {
    padding-top: 1em;
 }
 .section-pt-2 {
    padding-top: 3em;
 }
 .section-pt-3 {
    padding-top: 5em;
    @include break(sm) {
      padding-top: 3em;
  }
 }
 .section-pb-1 {
    padding-bottom: 1em;
 }
 .section-pb-2 {
    padding-bottom: 3em;
 }
 .section-pb-3 {
    padding-bottom: 5em;
    @include break(sm) {
      padding-bottom: 3em;
  }
 }

 .section-gutter {
   padding: 1em 0;
 }

 .container {
    @include break(xxl-min) {
        max-width: 1500px;
    }
 }

 .mobile-only {
    display: none;
    @include break(sm) {
        display: block;
    }
 }
 .desktop-only {
    @include break(sm) {
        display: none;
    }
 }
