.post-content {
    margin: 0 auto;

    a {
        color: $orange;
    }

    ul,
    ol {
        padding-left: 1rem;
    }

    figure {
        margin: 2rem 0 1rem;

        figcaption {
            color: $grey;
            font-size: 0.818rem;
            text-transform: uppercase;
        }
    }

    .alignnone {
        display: block;
        border: 1px solid #ccc;
        width: 100%;
    }

    .alignleft {
        float: left;
        margin-right: 1em;
    }

    .alignright {
        float: right;
        margin-left: 1em;
    }

    .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.basic-content-left {
    &__columns {
        margin-top: 50px;
        max-width: 58%;

        div {
            padding-right: 10px;
        }

        @include break(lg) {
            flex-direction: column;
            margin-top: 30px;
        }
    }
    .post-content {
        margin: 0 auto;
        //padding-top: 80px;
        //padding-bottom: 80px;

        @include break(sm) {
            margin: 0;
            max-width: 100%;
        }
        h3 {
            @include break(lg) {
                margin-bottom: 1rem;
            }
        }
        h4 {
            color: $orange;
            font-size: 1.7727rem;
            line-height: 2;

            @include break(lg) {
                font-size: 1.27rem;
                line-height: 32px;
            }
        }
        h5 {
            font-size: 1.0909rem;
            line-height: 55px;
            color: $black;
        }
        p {
            margin-bottom: 0.75rem;

            @include break(xxl) {
                font-size: 1rem;
            }
        }
        h6 {
            color: $black;
            font-size: 1rem;
            line-height: 1.27rem;
            font-weight: 400;

            strong {
                font-weight: 800;
            }
        }
        h6:nth-of-type(2) {
            line-height: 1.3;
        }
        .btn--asterisk {
            margin: 3rem 0 2rem;
        }
    }
}

.post-content--full {
    h2 {
        font-size: 1.65rem;
        font-weight: 900;
        color: $black;
        margin-bottom: 0.5rem;
        margin-top: 2rem;

        @include break(lg) {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }
    }
    ul,ol {
        @include break(lg) {
            padding-left: 1em;
        }
    }
    p {
        margin-bottom: 1rem;
    }
    a {
        color: $black;
    }
}

.single-post {

    .post {
        &__author {
            display: flex;
            gap: 17px;
            align-items: flex-end;
            margin-top: 30px;
            font-size: 20px;
            &-name {
    
                font-weight: 900;
            }
        }
        &__container {
            margin-top: 134px;
        }
    }

    .hero--single h1 {
        font-size: 2.5rem;

        @include break(lg) {
            font-size: 2rem;
        }
    }
    .post-content {
        > .container {
            padding: 0;
        }
    }
    .hero {
        .avatar {
            width: 80px;
        }
    }
}

.btn--asterisk {
  &.no-show {
    display: none;
  }
}

.copy-bottom {
    display: flex;
    flex-direction: column;
    align-self: end;
    padding-left: 2em;

    @include break(sm) {
        padding-left: .75em;
    }

    p:last-child {
        margin-bottom: 0;
    }
}