.post-content {
    margin: 0 auto;
    //max-width: 815px;
    //padding: 100px 0;

    a {
        color: $orange;
    }

    ul,
    ol {
        padding-left: 1rem;
    }

    figure {
        margin: 2rem 0 1rem;

        figcaption {
            color: $grey;
            font-size: 0.818rem;
            text-transform: uppercase;
        }
    }

    .alignnone {
        display: block;
    }

    .alignleft {
        float: left;
        margin-right: 1em;
    }

    .alignright {
        float: right;
        margin-left: 1em;
    }

    .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.basic-content-left {
    &__columns {
        margin-top: 50px;

        @include break(lg) {
            flex-direction: column;
            margin-top: 30px;
        }
    }
    .post-content {
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 80px;

        @include break(sm) {
            margin: 0;
            max-width: 100%;
        }

        @include break(lg) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        div {
            width: 75%;

            @include break(lg) {
                width: 100%;
            }
        }
        h3 {
            @include break(lg) {
                margin-bottom: 1rem;
            }
        }
        h4 {
            color: $orange;
            font-size: 1.7727rem;
            line-height: 2;

            @include break(lg) {
                font-size: 1.27rem;
                line-height: 32px;
            }
        }
        h5 {
            font-size: 1.0909rem;
            line-height: 55px;
            color: $black;
        }
        p {
            color: $black;
            margin-bottom: 0.75rem;

            @include break(xxl) {
                font-size: 1rem;
            }
        }
        h6 {
            color: $black;
            font-size: 1rem;
            line-height: 1.27rem;
            font-weight: 400;

            strong {
                font-weight: 800;
            }
        }
        h6:nth-of-type(2) {
            line-height: 1.3;
        }
        .btn--asterisk {
            margin: 3rem 0 2rem;
        }
    }
    &--a-small-light {
        h2 {
            font-size: 24px;
        }
        .post-content {
            p {
                font-size: 27px;
            }
        }
    }
}

.post-content--full {
    h2 {
        font-size: 39px;
        font-weight: 900;
        color: $black;
        margin-bottom: 2rem;

        @include break(lg) {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }
    }
    p {
        margin-bottom: 2.6rem;
        line-height: 1.27rem;
    }
    li {
        line-height: 1.27rem;
    }
}

.single-post {
    .hero--single h1 {
        font-size: 75px;

        @include break(lg) {
            font-size: 2rem;
        }
    }
}